
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0 none; }

#umnhf-h.umnhf,
#umnhf-f.umnhf,
#umnhf-alt.umnhf,
#umnhf-uf.umnhf,
#umnhf-h-ma,
#umn-main {
  position: static;
  z-index: auto;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  visibility: visible;
  float: none;
  clear: none;
  overflow: visible;
  width: 100%; /* 960px; */ /* mbaenrm */
  min-width: 0;
  max-width: none;
  height: auto;
  min-height: 0;
  max-height: none;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  white-space: normal;
  text-decoration: none;
  text-indent: 0;
  letter-spacing: normal;
  text-transform: none;
  border: none;
  background: none;
  font: normal normal normal 14px/20px Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif;
  line-height: 20px; }

.printer {
  display: none; }

@media screen and (max-width: 960px) {
  #umnhf-h.umnhf,
  #umnhf-f.umnhf,
  #umnhf-alt.umnhf,
  #umnhf-uf.umnhf,
  #umnhf-h-ma,
  #umn-main {
    width: 100%;
    margin: 0; } }
@media print {
  #umnhf-h.umnhf,
  #umnhf-f.umnhf,
  #umnhf-alt.umnhf,
  #umnhf-uf.umnhf,
  #umnhf-h-ma,
  #umn-main {
    width: 100%;
    margin: 0; }

  #umnhf-h .umnhf {
    padding: 0 15px;
    background-color: #fff; }

  .printer {
    display: block;
    width: 100%;
    background-color: #fff; }
    .printer .right {
      padding-bottom: 10px;
      text-align: right; }
    .printer .left {
      float: left; }
      .printer .left:after {
        content: url(../img/sprites/tc/D2D-print.png); }

  #umnhf-h .umnhf {
    display: none; } }
#umnhf-h {
  zoom: 1; }
  #umnhf-h.umnhf {
    position: relative;
    min-height: 64px;
    background-color: #7a0019; }
  #umnhf-h:before, #umnhf-h:after {
    display: table;
    content: ""; }
  #umnhf-h:after {
    clear: both; }
  #umnhf-h a.umnhf:link, #umnhf-h a.umnhf:visited, #umnhf-h a.umnhf:hover, #umnhf-h a.umnhf:active {
    text-decoration: underline;
    color: #7a0019; }
  #umnhf-h a.umnhf:hover {
    color: #669; }

#umnhf-h-mast {
  position: relative;
  min-height: 64px;
  margin: 0 auto;
  background: #7a0019; }

#umnhf-h-logo {
  display: block;
  float: left;
  overflow: hidden;
  width: 288px;
  height: 38px;
  margin: 13px 10px 13px 54px;
  white-space: nowrap;
  text-indent: 100%;
  background-size: 288px 67px;
  background: transparent url("../images/umn/sprites/D2D-wht-gld.png") 0 0 no-repeat; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 192dpi) {
  #umnhf-h-logo {
    background: transparent url("../images/umn/sprites/D2D-wht-gld@2x.png") 0 0 no-repeat;
      background-size: 288px auto; } }

#umnhf-h-ql {
  position: absolute;
  top: 8px;
  right: 54px;
  width: auto;
  margin: 0;
  list-style-type: none;
  color: #fff;
  font-weight: 100; }
  #umnhf-h-ql li {
    margin: 0;
    display: inline-block;
    margin-left: 1.25rem; }
    #umnhf-h-ql li a {
      text-decoration: none;
      font-weight: 100;
      color: #fff; }
      #umnhf-h-ql li a:hover, #umnhf-h-ql li a:active, #umnhf-h-ql li a:focus {
        text-decoration: underline; }
  #umnhf-h-ql span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: transparent url("../images/umn/sprites/lock-search-wht.png") 0 0 no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 192dpi) {
      #umnhf-h-ql span {
        background: transparent url("../images/umn/sprites/lock-search-wht.png") 0 0 no-repeat;
        background-size: 22px 34px;
        background-position: 0 0; } }

#umnhf-m-search {
  display: none; }

#umnhf-h-search {
  position: absolute;
  top: 30px;
  right: 54px;
  width: 249px;
  height: 22px; }
  #umnhf-h-search label.umnhf {
    display: none; }

.mobile input[type="text"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  border-radius: 0; }

#umnhf-h-st {
  position: absolute;
  right: 30px;
  width: 175px;
  height: 22px;
  padding-left: 3px;
  cursor: text;
  color: #8a8a8a;
  border: 0;
  background-color: #fff;
  font-size: 0.77778rem;
  line-height: 18px;
  -webkit-appearance: none;
  -moz-border-radius: 0;
  border-radius: 0; }

#umnhf-h-sb {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 22px;
  height: 22px;
  cursor: pointer;
  white-space: nowrap;
  color: #7a0019;
  border: 0;
  font: bold 0.925em/1.35em arial,helvetica,clean,sans-serif;
  background: transparent url("../images/umn/sprites/lock-search-wht.png") 0 -12px no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 192dpi) {
    #umnhf-h-sb {
      background: transparent url("../images/umn/sprites/lock-search-wht.png") 0 -12px no-repeat;
      background-size: 22px 34px; } }

@media screen and (max-width: 768px) {
  #umnhf-h-logo {
    float: none;
    margin: calc(34px / 2) auto;
  }

@media screen and (max-width: 674px) {
  #umnhf-h-search {
    width: 184px; } }
@media all and (max-width: 609px) {
  #umnhf-h-mast {
    height: 35px;
    min-height: 50px; }

  #umnhf-h-cl,
  #umnhf-h-ql {
    display: none; }

  #umnhf-h-search {
    position: relative;
    top: auto;
    right: auto;
    display: block;
    width: 226px;
    margin: 10px 0 10px 17px; }

  #umnhf-h-mast {
    position: relative;
    height: 50px;
    background-position: left bottom; }

  #umnhf-h-logo {
    display: block;
    background-position: 0 -38px;
    height: 29px;
    width: 246px; }

  #umnhf-h-search.mobile {
    position: relative;
    top: auto;
    right: auto;
    display: block;
    width: 225px;
    height: 30px;
    margin: 10px 0 5px 17px; }

  #umnhf-h .umnhf-m-cancel {
    color: #404d5b; }

  #umnhf-h-st {
    display: block;
    width: 192px; }

  #umnhf-h-sb {
    right: 0;
    display: block; } }
@media all and (max-width: 380px) {
  #umnhf-m-search .mobile {
    position: absolute;
    top: 13px;
    right: 10px;
    left: auto;
    width: auto;
    height: auto;
    -moz-border-radius: 4px;
    border-radius: 4px; }

  #umnhf-m-search {
    right: 10px; } }

.display-after-menu-collapse.umnhf {
  display: none; }
  @media (max-width: 775px) {
    .display-after-menu-collapse.umnhf {
      display: block;
      width: 100%;
      cursor: pointer;
      text-align: center;
      color: #fff;
      background-color: #404d5b;
      font: 300 normal normal 28px/50px Helvetica, "Helvetica Neue", "Futura", Verdana, "Geneva", sans-serif; } }
