/* Variables
   ========================================================================== */
:root {
  --brand-primary: #085473;
  --brand-primary-rgb: 8, 84, 115; /* for composing into rgba() values */

  --header-bg-image: url("../../images/layout/MNBiodiversityAtlas_hero7a.jpg");
  --header-bg-color: rgba(var(--brand-primary-rgb), 0.1);
  --header-font-color: #fff;
  --header-outline-color: var(--brand-primary);
  --brand-font-size: 2.5rem;
  --title-font-family: "Fira Sans", serif;
  --logo-width: 120px;
  --menu-overlay-bg-color: rgba(var(--brand-primary-rgb), 0.7);
  --menu-bg-color: var(--brand-primary);
  --menu-font-size: 1rem;
  --body-bg-color: #ffffff;
  --body-text-color: #333333;
  --body-font-size: 1rem;
  --body-font-family: "Fira Sans", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Fira Sans", sans-serif;
  --link-color: var(--brand-primary);
  --darkest-color: #333333;
  --medium-color: #6e6259;
  --light-color: #f2f0e9;
  --bright-color: #a4d0ef;
  --danger-color: #d19000;
  --max-innertext-width: 1024px;
}
